{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
    About Page
{% endblock %}

{% block body_block %}
	
<h2> <u> About</u> </h2>
<br>
<div>
	Music is a difficult and demanding art. 
	Sometimes you want to be able to find what you want to play without the hassle of buying a book of music or composing a piece yourself. 
	This is why we have created Pianissimo. With this application we are aiming to allow piano lovers to gain new ways to find and store piano sheet music.
	Pianissimo expands the horizons of all piano enthusiasts, from the average hobbyist to the most accomplished composer. 
	This web application includes many facilities, encompassing the ability to register an account, view and rate various sheet music from various composers, and the ability to search the vast reaches of the Internet to find sheet music.
</div>
    <br>
<div>
	<img src="{{ MEDIA_URL}}piano_clipart.jpg" alt="Picture of piano man aka lil'b" style="width:200px;height:200px;" />
</div>
<h2> <u> About the Creators</u> </h2>
<div>
	Pianissimo was created by 4 University of Glasgow students as part of a project to create useful web applications. The 4 students are: 
</div>
	<br>
	<div>
		Frazer Smith
		<img src="{{ MEDIA_URL}}/profile_images/IMG_20181230_091650.jpg" alt="Hazem" style="width:200px;height:200px;" />
	</div>
	<br>
	<div>
		Hazem Twair
		<img src="{{ MEDIA_URL}}/profile_images/IMG_20181230_091650.jpg" alt="Hazem" style="width:200px;height:200px;" />
	</div>
	<br>
	<div>
		Michael Devine
		<img src="{{ MEDIA_URL}}/profile_images/IMG_20181230_091650.jpg" alt="Hazem" style="width:200px;height:200px;" />
	</div>
	<br>
	<div>
		Nawaf Al Lawati
		<img src="{{ MEDIA_URL}}/profile_images/IMG_20181230_091650.jpg" alt="Hazem" style="width:200px;height:200px;" />
	</div>
	<br>
	<div>
		Please suggest any improvements to the website, and all suggestions will be taken into account. Thank you! Email us at: 2333466A@student.gla.ac.uk
	</div>
	<br>
	
{% endblock %}
