{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index Page
{% endblock %}

{% block body_block %}
    
    <div class="narrow jumbotron">
        <h1 class="display-3">Pianissimo</h1>
        {% if user.is_authenticated %}
            <h1>Welcome, {{ user.username }}!</h1>
        {% else %}
            <h1>Hello, piano lover!</h1>
        {% endif %}
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
        <h4>Genres</h4>
        <p>
        {% if cat_likes %}
        <ul class="list-group">
            {% for category in cat_likes %}
            <li class="list-group-item">
                <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </p>
        </div>

        <div class="col-lg-6">
        <h4>Highest Rated Songs (All Time)</h4>
        <p>
        {% if page_views %}
        <ul class="list-group">
            {% for piece in page_views %}
            <li class="list-group-item">
                <a href="{% url 'piece' piece.slug %}">{{ piece.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are currently no songs present.</strong>
        {% endif %}
        </p>
    </div>
</div>
<img src="{% static "images/pianocat.jpg" %}" alt="Picture of Piano Cat" style="width:400px;height:300px;"/>
<iframe src="https://calendar.google.com/calendar/embed?src=en.uk%23holiday%40group.v.calendar.google.com&ctz=Europe%2FLondon" style="border: 0" width="600" height="300" frameborder="0" scrolling="no"></iframe>
<p>visits: {{ visits }}</p>       
{% endblock %}